/********************Fix padding*********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/********************Fix padding*********************/
body{
    background-color: #ebebeb;
}
#wrapper{
    width:1000px;
    background-color: #fff;
    height: 1000px;
    margin: auto;
}
/* Header************************* */
header{
    display: flex;
}
#logoContainer{
    width: 333px;
    height: 100px;
    margin-left: 30px;
    margin-top: 30px;
}
#search{
    width: 516px;
    height: 100px;
}
#social{
    width: 150px;
    height: 100px;
}
form{
    margin: 73px 0 0 0;
    height: 35px;
}
input[type=text]{
    width: 320px;
}
input[type=submit]{  
    width: 120px;
    margin:0 0 0 -5px;
    background: #00aedb;
    border-width: 3px;
    border-style: solid;
    border-color: #00aedb;
}
#social ul a li{
    text-decoration: none;
    display: inline-block;
    margin-top: 65px;
}
/* Header off******************* */
/* menu ***************************** */
#navigation ul a li{
    text-decoration: none;
    display: inline-block;
    height: 28px;
    text-align: center;
    margin-left: 30px;
    text-transform: uppercase;
    padding-top: 7px;
}

#navigation ul a #home{
    background: #00aedb;
    width: 92px;
}
#navigation ul a #cinema{
    background: #8cc63f;
    width: 92px;
    margin-left:-5px;
}
#navigation ul a #magazine{
    background: #5261ac;
    width: 92px;
    margin-left:-5px;
}
#navigation ul a #cssautor_com{
    background: #00aedb;
    width: 170px;
    margin-left:-5px;
}
#navigation ul a #topmenu{
    background: #f78f1d;
    width: 92px;
    margin-left:-5px;
}
#navigation ul a #archives{
    background: #ff0000;
    width: 110px;
    margin-left:-5px;
}
#navigation ul a #contact_us{
    background: #898989;
    width: 310px;
    margin-left:-5px;
}
/* menu off *************** */
/* ******************top story */
h1{
    text-transform: uppercase;
    color: #00aedb;
}
#feature_post{
    margin-left: 30px;
}
#feature_post ul a li{
    display:inline-block;
    height:35px;
    text-align: left;
    text-transform: uppercase;
}
#feature_post ul a  #f{
    background:#00aedb;
    width:326px;
   
}
#feature_post ul a  #s{
    background: #f78f1d;
    width:305px;
}
#feature_post ul a  #t{
    background: #ec098d;
    width:291px;
}
.story{
    display: inline-block;
}
.pLorem{
    display: inline-block;
}
#loremF{
    width: 326px;
}
#loremS{
    width: 305px;
}
#loremT{
    width: 291px;
}
/* ******************top story off*/

